@import "reset";
@import "variables";
@import "mixins";

/* ==============
    Navbar Style
   ============== */

.navbar-top {
  @include size(100%,null);
  min-height: 100px;
  @include flexbox(space-between,null,column);
  z-index: 100;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  background-color: $themeLightColor;
  .nav-title {
    margin: 0 10vw;
    @include flexbox(space-between);
    .navbar-h1 {
      font-size: 2rem;
    }
    a {
      color: black;
      margin: 0;
    }
    .nav-tel {
      color: white;
    }
  }
  .navbar-menu {
    margin: 0 10vw;
    @include flexbox(flex-end);
  }
  ul {
    @include flexbox(space-around,center);
    right: 0;
    list-style: none;
    font-size: 1rem;
    li {
      @include flexbox(center,center);
      @include size(110px,50px);
      overflow: hidden;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        position: relative;
        &::after{
          content: "";
          @include size(100%,100%);
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: transform 0.5s ease;
        }
        &:hover {
          color: $themeDarkColor;
        }
      }
    }
  }
}

.burger {
  display: none;
  position: absolute;
  top: 50px;
  cursor: pointer;
  div {
    @include size(25px,3px);
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width:700px) {
  .nav-title {
    flex-direction: column;
  }
}

@media screen and (max-width:420px) {
  .navbar-top {
    .nav-title {
      .navbar-h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    @include flexbox(space-around,center,column);
    @include size(200px,calc(100vh - 100px));
    background-color: $themeLightColor;
    position: absolute;
    left: 100%;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(-100%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}


a.active::after {
  transform: translateX(0%);
}

footer {
  @include flexbox(center,center);
  background-color: $themeColor;
  font-size: 0.8rem;
}

/* ===============
    Section Style
   =============== */
/*----- Home -----*/
.home {
  color: $subColor;
  padding: 100px 0;
  .homepage-banner {
    padding: 0 10%;
    img {
      @include size(100%, auto);
      max-height: 500px;
      object-fit: cover;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  .homepage-news {
    padding: 0 10vw;
    p {
      line-height: 1rem;
    }
  }
  .each-news {
    border-bottom: 1px dashed gray;
    display: flex;
    margin: 1rem;
    padding-bottom: 3px;
    .homepage-news-date {
      padding-right: 1rem;
      color: $subLightColor;
    }
  }
  .homepage-lineup {
    padding: 0 10vw;
  }
  .lineup-container {
    display: flex;
    .lineup-text {
      width: 50%;
      padding: 0 1rem;
    }
    .lineup-img {
      width: 50%;
      padding: 0 1rem;
    }
  }
  .homepage-pickup {
    padding: 0 10vw;
  }
  .pickup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .pickup-card {
      width: 300px;
      padding: 2rem;
    }
    .pickup-img {
      width: 100%;
      border-radius: 50%;
      &:hover {
        border: 1px solid #ff983f;
        box-shadow: 0px 0px 15px -5px #62727b;
      }
    }
    .pickup-title {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width:768px) {
  .home {
    padding: 100px 0;
    .homepage-banner {
      padding: 0;
    }
    .homepage-news {
      padding: 0 5vw;
    }
    .each-news {
      flex-direction: column;
      margin: 0rem;
      .homepage-news-date {
        font-size: 0.75rem;
        padding: 3px 0;
      }
    }
    .homepage-lineup {
      padding: 0 5vw;
    }
    .lineup-container {
      flex-direction: column;
      align-items: center;
      .lineup-text {
        width: 100%;
        padding: 0;
      }
      .lineup-img {
        width: 80%;
        padding-top: 2rem;
      }
    }
    .homepage-pickup {
      padding: 0 5vw;
    }
  }
}

@media screen and (max-width:576px) {
  .home {
    .lineup-container {
      .lineup-img {
        width: 100%;
        padding-top: 2rem;
      }
    }
  }
}


/*----- Company -----*/
.company {
  @include flexbox(center,center,column);
  color: $subColor;
  padding: 100px 0;
  section {
    width: 100%;
    h2 {
      margin: 2rem 10vw 1rem;
    }
  }
  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10vw;
  }
  .intro-content h4 {
    text-align: start;
  }
  .intro-content {
    max-width: 600px;
    width: 80%;
  }
  .intro-text {
    line-height: 2rem;
  }
  .intro-name {
    padding-top: 2rem;
  }
  .company-container {
    @include flexbox(center,center);
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  .history-container {
    margin: 0 10vw;
  }
  .history-card {
    display: flex;
    padding: 0.5rem 0;
  }
  .history-date {
    width: 100px;
  }
  .history-event {
    padding-left: 2rem;
    white-space: pre-wrap;
    width: calc(100% - 100px);
  }
  .csr-container {
    margin: 0 10vw;
  }
  .csr-img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .csr-img {
    width: 350px;
    height: 100%;
    padding: 2rem;
  }
  .address-container {
    margin: 0 10vw;
  }
  .address-name {
    padding: 0.5rem;
  }
  .address-card {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $subLightColor;
  }
  .address-branch {
    padding: 0.5rem;
    width: 320px;
  }
}

@media screen and (max-width:500px) {
  .company {
    .intro-container {
      position: relative;
      padding-top: 1rem;
    }
    .intro-img {
      position: absolute;
      width: 100%;
    }
    .intro-content {
      width: 100%;
      z-index: 10;
    }
    .history-container p {
      font-size: 0.8rem;
    }
    .history-date {
      width: 75px;
    }
    .history-event {
      white-space: pre-wrap;
      padding-left: 1rem;
      width: calc(100% - 75px);
    }
  }
}


/*----- LineUp -----*/
.lineup {
  padding: 100px 10vw;
  color: $subColor;
  .lineup-subtitle {
    background-color: lightgray;
    padding: 0.75rem;
  }
  .table-header {
    display: flex;
    font-size: .8rem;
    padding: 0.5rem;
    color: $subLightColor;
    width: 100%;
  }
  .table-row {
    border-bottom: 1px solid #cecece;
    width: 100%;
    padding: 0.5rem;
    display: flex;
  }
  .lineup-card {
    display: flex;
    margin: 3px 0;
  }
  .lineup-model {
    width: 25%;
    min-width: 125px;
  }
  .lineup-maker {
    width: 25%;
    min-width: 120px;
  }
  .lineup-capacity {
    width: 25%;
    min-width: 100px;
  }
  .lineup-info {
    width: 25%;
  }
  .lineup-img {
    width: 10%;
  }
}

@media all and (max-width: 640px) {
  .lineup {
    padding: 100px 5vw;
    .table-header {
      display: none;
    }
    .table-row {
      border: 1px solid $subLightColor;
      display: block;
    }
    p {
      margin-bottom: 3px;
      border-bottom: 1px solid #cecece;
    }
    .col {
      width: 100%;
      display: flex;
      &:before {
        color: $subLightColor;
        padding-right: 10px;
        width: 100px;
        font-size: .8rem;
        content: attr(data-label);
      }
    }
  }
}

/*----- Business Guide -----*/
.business-guide {
  padding: 100px 10vw;
  color: $subColor;
  .guide-card {
    border: 1px solid rgb(163, 163, 163);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    &:hover {
      border: 1px solid $themeLightColor;
      box-shadow: 0px 0px 15px -5px #62727b;
    }
  }
  .guide-name {
    padding-bottom: 1rem;
  }
  .guide-content {
    margin-left: 1rem;
  }
  .each-experience {
    display: flex;
    width: 100%;
    .experience-title {
      width: 300px;
    }
  }
}

@media screen and (max-width:650px) {
  .business-guide {
    padding: 100px 5vw;
    .guide-contents {
      font-size: 0.8rem;
    }
    .each-experience {
      flex-direction: column;
    }
    .experience-title {
      width: 270px;
    }
    .experience-content {
      padding-left: 1rem;
    }
  }
}

/*----- Recruit -----*/
.recruits {
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
  color: $subColor;
}

@media screen and (max-width:768px) {
  .recruits {
    padding: 100px 5vw;
  }
}

/*----- Contact -----*/
.contact {
  color: $subColor;
  padding: 100px 0;
  .contact-title {
    margin: 2rem 10vw 1rem;
    border-bottom: 1px solid $themeDarkColor;
  }
  .contact-name,
  .contact-content {
    padding: 0.5rem;
  }
  .contact-info {
    padding: 0 10vw;
    &:nth-last-child(2) {
    padding-top: 2rem;
    }
  }
  iframe {
    padding-top: 1rem;
    height: 400px;
    width: 100%;
    padding: 0 10vw;
  }
}

@media screen and (max-width:650px) {
  .contact {
    .contact-title {
      margin: 2rem 5vw 1rem;
    }
    iframe {
      height: 300px;
      padding: 0;
    }
  }
}

/*----- News -----*/
.news {
  color: $subColor;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
  .news-container {
    display: flex;
  }
  .news-sidebar {
    width: 300px;
    border-right: 1px dashed;
  }
  .news-sidebar-date {
    font-size: 0.75rem;
  }
  .news-sidebar-title {
    font-size: 0.9rem;
  }
  .news-contents {
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: calc(100% - 300px);
  }
  .news-title {
    padding: 1rem 0;
  }
  .news-content {
    white-space: pre-wrap;
  }
}

@media screen and (max-width:1000px) {
  .news {
    .news-sidebar {
      width: 100%;
      border-right: none;
      border-top: 1px dashed;
    }
    .news-container {
      flex-direction: column-reverse;
    }
    .news-contents {
      margin-left: 0;
      width: 100%;

    }
  }
}
@media screen and (max-width:768px) {
  .news {
    padding: 100px 5vw;
  }
}

/*----- Details -----*/
.details {
  color: $subColor;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
}

@media screen and (max-width:768px) {
  .details {
    padding: 100px 5vw;
  }
}

.cad {
  color: $subColor;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
  .cad-images {
    padding-top: 2rem;
  }
  img {
    width: 100%;
    border: 1px solid $subColor;
    margin: 1rem;
    max-width: 270px;
  }
}

.skybox {
  color: $subColor;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
  .subtitle {
  border-bottom: 1px solid $themeDarkColor;
  }
  .detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 1px dashed;
  }
  .detail-model {
    margin: 1rem 0;
  }
  .detail-title {
    font-size: 0.75rem;
  }
}

/* ============
    Components
   ============ */

.title {
  border-bottom: 1px solid $themeDarkColor;
  margin: 2rem 0 1rem;
}

.lineup-link {
  text-align: end;
  padding-top: 2rem;
}

.company-card {
  width: 500px;
  border: 1px solid rgb(163, 163, 163);
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  &:hover {
    border: 1px solid $themeLightColor;
    box-shadow: 0px 0px 15px -5px #62727b;
  }
  .company-name {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .company-list {
    display: flex;
    border-bottom: 1px dashed $subLightColor;
    margin-bottom: 5px;
    p {
      @include flexbox(null,center);
    }
    .company-title {
      width: 150px;
      color: $subLightColor;
    }
  }
}

@media screen and (max-width:500px) {
  .company-card {
    width: 90vw;
    padding: 1rem;
  }
  .company-list {
    flex-direction: column;
    .company-title {
      font-size: 0.75rem;
    }
  }
}

.recruit-card {
  border: 1px solid rgb(163, 163, 163);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  &:hover {
    border: 1px solid $themeLightColor;
    box-shadow: 0px 0px 15px -5px #62727b;
  }
  .recruit-item {
    display: flex;
    padding-bottom: 0.5rem;
  }
  .recruit-title {
    width: 100px;
    color: $subLightColor;
  }
  .recruit-content {
    white-space: pre-wrap;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width:500px) {
  .recruit-card {
    .recruit-item {
      flex-direction: column;
      .recruit-title {
        font-size: 0.75rem;
      }
      .recruit-content {
        width: 100%;
      }
    }
  }
}

.detail-card {
  display: flex;
  justify-content: space-between;
  .detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 1px dashed;
  }
  .detail-model {
    margin: 1rem 0;
  }
  .detail-images {
    width: calc(100% - 400px);
  }
  .detail-image {
    // height: 20vh;
    width: 100%;
  }
  .detail-contents {
    width: 400px;
    padding-left: 2rem;
  }
  .detail-title {
    font-size: 0.75rem;
  }
}
@media screen and (max-width:1000px) {
  .detail-card {
    flex-direction: column;
    .detail-images {
      width: 100%;
    }
    .detail-contents {
      width: 100%;
      padding: 0;
    }
  }
}
@media screen and (max-width:500px) {
  .detail-card {
    .each-detail {
      display: flex;
    }
    .detail-title {

      font-size: 0.75rem;
    }
  }
}

.no-image {
  text-align: center;
  font-size: 2rem;
  flex-grow: 1;
  position: relative;
  border: 1px solid $subLightColor;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}