h1 {
  display: block;
  font-size: 2em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h4 {
  display: block;
  font-size: 1em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h5 {
  display: block;
  font-size: .83em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h6 {
  display: block;
  font-size: .67em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

dl {
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

/* ==============
    Navbar Style
   ============== */
.navbar-top {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  position: fixed;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #ff983f;
}

.navbar-top .nav-title {
  margin: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-top .nav-title .navbar-title {
  font-size: 2rem;
}

.navbar-top .nav-title a {
  color: black;
  margin: 0;
}

.navbar-top .nav-title .nav-tel {
  color: white;
}

.navbar-top .navbar-menu {
  margin: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  list-style: none;
  font-size: 1rem;
}

.navbar-top ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 50px;
  overflow: hidden;
  text-align: center;
}

.navbar-top ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar-top ul li a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.navbar-top ul li a:hover {
  color: #c43300;
}

.burger {
  display: none;
  position: absolute;
  top: 50px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 700px) {
  .nav-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .navbar-top .nav-title .navbar-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #ff983f;
    position: absolute;
    left: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

a.active::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff983f;
  font-size: 0.8rem;
}

/* ===============
    Section Style
   =============== */
/*----- Home -----*/
.home {
  color: #37474F;
  padding: 100px 0;
}

.home .homepage-banner {
  padding: 0 10%;
}

.home .homepage-banner img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .homepage-banner h1 {
  font-size: 1.5rem;
}

.home .homepage-news {
  padding: 0 10vw;
}

.home .homepage-news p {
  line-height: 1rem;
}

.home .each-news {
  border-bottom: 1px dashed gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  padding-bottom: 3px;
}

.home .each-news .homepage-news-date {
  padding-right: 1rem;
  color: #62727b;
}

.home .homepage-lineup {
  padding: 0 10vw;
}

.home .lineup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .lineup-container .lineup-text {
  width: 50%;
  padding: 0 1rem;
}

.home .lineup-container .lineup-img {
  width: 50%;
  padding: 0 1rem;
}

.home .homepage-pickup {
  padding: 0 10vw;
}

.home .pickup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .pickup-container .pickup-card {
  width: 250px;
  padding: 2rem;
}

.home .pickup-container .pickup-img {
  width: 100%;
  border-radius: 50%;
}

.home .pickup-container .pickup-img:hover {
  border: 1px solid #ff983f;
  -webkit-box-shadow: 0px 0px 15px -5px #62727b;
          box-shadow: 0px 0px 15px -5px #62727b;
}

.home .pickup-container .pickup-title {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .home {
    padding: 100px 0;
  }
  .home .homepage-banner {
    padding: 0;
  }
  .home .homepage-news {
    padding: 0 5vw;
  }
  .home .each-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0rem;
  }
  .home .each-news .homepage-news-date {
    font-size: 0.75rem;
    padding: 3px 0;
  }
  .home .homepage-lineup {
    padding: 0 5vw;
  }
  .home .lineup-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .lineup-container .lineup-text {
    width: 100%;
    padding: 0;
  }
  .home .lineup-container .lineup-img {
    width: 80%;
    padding-top: 2rem;
  }
  .home .homepage-pickup {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 576px) {
  .home .lineup-container .lineup-img {
    width: 100%;
    padding-top: 2rem;
  }
}

/*----- Company -----*/
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #37474F;
  padding: 100px 0;
}

.company section {
  width: 100%;
}

.company section h2 {
  margin: 2rem 10vw 1rem;
}

.company .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 10vw;
}

.company .intro-content h4 {
  text-align: start;
}

.company .intro-content {
  max-width: 600px;
  width: 80%;
}

.company .intro-text {
  line-height: 2rem;
}

.company .intro-name {
  padding-top: 2rem;
}

.company .company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.company .history-container {
  margin: 0 10vw;
}

.company .history-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

.company .history-date {
  width: 100px;
}

.company .history-event {
  padding-left: 2rem;
  white-space: pre-wrap;
  width: calc(100% - 100px);
}

.company .csr-container {
  margin: 0 10vw;
}

.company .csr-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company .csr-img {
  width: 350px;
  height: 100%;
  padding: 2rem;
}

.company .address-container {
  margin: 0 10vw;
}

.company .address-name {
  padding: 0.5rem;
}

.company .address-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #62727b;
}

.company .address-branch {
  padding: 0.5rem;
  width: 340px;
}

@media screen and (max-width: 500px) {
  .company .intro-container {
    position: relative;
    padding-top: 1rem;
  }
  .company .intro-img {
    position: absolute;
    width: 100%;
  }
  .company .intro-content {
    width: 100%;
    z-index: 10;
  }
  .company .history-container p {
    font-size: 0.8rem;
  }
  .company .history-date {
    width: 75px;
  }
  .company .history-event {
    white-space: pre-wrap;
    padding-left: 1rem;
    width: calc(100% - 75px);
  }
}

/*----- LineUp -----*/
.lineup {
  padding: 100px 10vw;
  color: #37474F;
}

.lineup .lineup-subtitle {
  background-color: lightgray;
  padding: 0.75rem;
}

.lineup .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
  padding: 0.5rem;
  color: #62727b;
  width: 100%;
}

.lineup .table-row {
  border-bottom: 1px solid #cecece;
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lineup .lineup-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0;
}

.lineup .lineup-model {
  width: 25%;
  min-width: 125px;
}

.lineup .lineup-maker {
  width: 25%;
  min-width: 120px;
}

.lineup .lineup-capacity {
  width: 25%;
  min-width: 100px;
}

.lineup .lineup-info {
  width: 25%;
}

.lineup .lineup-img {
  width: 10%;
}

@media all and (max-width: 640px) {
  .lineup {
    padding: 100px 5vw;
  }
  .lineup .table-header {
    display: none;
  }
  .lineup .table-row {
    border: 1px solid #62727b;
    display: block;
  }
  .lineup p {
    margin-bottom: 3px;
    border-bottom: 1px solid #cecece;
  }
  .lineup .col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lineup .col:before {
    color: #62727b;
    padding-right: 10px;
    width: 100px;
    font-size: .8rem;
    content: attr(data-label);
  }
}

/*----- Business Guide -----*/
.business-guide {
  padding: 100px 10vw;
  color: #37474F;
}

.business-guide .guide-card {
  border: 1px solid #a3a3a3;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.business-guide .guide-card:hover {
  border: 1px solid #ff983f;
  -webkit-box-shadow: 0px 0px 15px -5px #62727b;
          box-shadow: 0px 0px 15px -5px #62727b;
}

.business-guide .guide-name {
  padding-bottom: 1rem;
}

.business-guide .guide-content {
  margin-left: 1rem;
}

.business-guide .experience-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.business-guide .experience-card .experience-title {
  width: 300px;
}

@media screen and (max-width: 650px) {
  .business-guide {
    padding: 100px 5vw;
  }
  .business-guide .guide-contents {
    font-size: 0.8rem;
  }
  .business-guide .experience-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .business-guide .experience-title {
    width: 270px;
  }
  .business-guide .experience-content {
    padding-left: 1rem;
  }
}

/*----- Recruit -----*/
.recruits {
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
  color: #37474F;
}

@media screen and (max-width: 768px) {
  .recruits {
    padding: 100px 5vw;
  }
}

/*----- Contact -----*/
.contact {
  color: #37474F;
  padding: 100px 0;
}

.contact .contact-title {
  margin: 2rem 10vw 1rem;
  border-bottom: 1px solid #c43300;
}

.contact .contact-name,
.contact .contact-content {
  padding: 0.5rem;
}

.contact .contact-info {
  padding: 0 10vw;
}

.contact .contact-info:nth-last-child(2) {
  padding-top: 2rem;
}

.contact iframe {
  padding-top: 1rem;
  height: 400px;
  width: 100%;
  padding: 0 10vw;
}

@media screen and (max-width: 650px) {
  .contact .contact-title {
    margin: 2rem 5vw 1rem;
  }
  .contact iframe {
    height: 300px;
    padding: 0;
  }
}

/*----- News -----*/
.news {
  color: #37474F;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
}

.news .news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-sidebar {
  width: 300px;
  border-right: 1px dashed;
}

.news .news-sidebar-date {
  font-size: 0.75rem;
}

.news .news-sidebar-title {
  font-size: 0.9rem;
}

.news .news-contents {
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: calc(100% - 300px);
}

.news .news-title {
  padding: 1rem 0;
}

.news .news-content {
  white-space: pre-wrap;
}

@media screen and (max-width: 1000px) {
  .news .news-sidebar {
    width: 100%;
    border-right: none;
    border-top: 1px dashed;
  }
  .news .news-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news .news-contents {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .news {
    padding: 100px 5vw;
  }
}

/*----- Details -----*/
.details {
  color: #37474F;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
}

@media screen and (max-width: 768px) {
  .details {
    padding: 100px 5vw;
  }
}

.cad {
  color: #37474F;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
}

.cad .cad-images {
  padding-top: 2rem;
}

.cad img {
  width: 100%;
  border: 1px solid #37474F;
  margin: 1rem;
  max-width: 270px;
}

.skybox {
  color: #37474F;
  padding: 100px 10vw;
  min-height: calc(100vh - 19px);
}

.skybox .subtitle {
  border-bottom: 1px solid #c43300;
}

.skybox .detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
  border-bottom: 1px dashed;
}

.skybox .detail-model {
  margin: 1rem 0;
}

.skybox .detail-title {
  font-size: 0.75rem;
}

/* ============
    Components
   ============ */
.title {
  border-bottom: 1px solid #c43300;
  margin: 2rem 0 1rem;
}

.lineup-link {
  padding-top: 2rem;
}

.company-card {
  width: 500px;
  border: 1px solid #a3a3a3;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}

.company-card:hover {
  border: 1px solid #ff983f;
  -webkit-box-shadow: 0px 0px 15px -5px #62727b;
          box-shadow: 0px 0px 15px -5px #62727b;
}

.company-card .company-name {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.company-card .company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dashed #62727b;
  margin-bottom: 5px;
}

.company-card .company-list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-card .company-list .company-title {
  width: 150px;
  color: #62727b;
}

@media screen and (max-width: 500px) {
  .company-card {
    width: 90vw;
    padding: 1rem;
  }
  .company-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company-list .company-title {
    font-size: 0.75rem;
  }
}

.recruit-card {
  border: 1px solid #a3a3a3;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.recruit-card:hover {
  border: 1px solid #ff983f;
  -webkit-box-shadow: 0px 0px 15px -5px #62727b;
          box-shadow: 0px 0px 15px -5px #62727b;
}

.recruit-card .recruit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5rem;
}

.recruit-card .recruit-title {
  width: 100px;
  color: #62727b;
}

.recruit-card .recruit-content {
  white-space: pre-wrap;
  width: calc(100% - 100px);
}

@media screen and (max-width: 500px) {
  .recruit-card .recruit-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recruit-card .recruit-item .recruit-title {
    font-size: 0.75rem;
  }
  .recruit-card .recruit-item .recruit-content {
    width: 100%;
  }
}

.detail-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-card .detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
  border-bottom: 1px dashed;
}

.detail-card .detail-model {
  margin: 1rem 0;
}

.detail-card .detail-images {
  width: calc(100% - 400px);
}

.detail-card .detail-image {
  width: 100%;
}

.detail-card .detail-contents {
  width: 400px;
  padding-left: 2rem;
}

.detail-card .detail-title {
  font-size: 0.75rem;
}

@media screen and (max-width: 1000px) {
  .detail-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail-card .detail-images {
    width: 100%;
  }
  .detail-card .detail-contents {
    width: 100%;
    padding: 0;
  }
  .no-image {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .detail-card .each-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detail-card .detail-title {
    font-size: 0.75rem;
  }
}

.no-image {
  text-align: center;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  border: 1px solid #62727b;
}

.no-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */