
/*----- Contact -----*/
.contact {
  color: $subColor;
  padding: 100px 0;
  .contact-title {
    margin: 2rem 10vw 1rem;
    border-bottom: 1px solid $themeDarkColor;
  }
  .contact-name,
  .contact-content {
    padding: 0.5rem;
  }
  .contact-info {
    padding: 0 10vw;
    &:nth-last-child(2) {
    padding-top: 2rem;
    }
  }
  iframe {
    padding-top: 1rem;
    height: 400px;
    width: 100%;
    padding: 0 10vw;
  }
}

@media screen and (max-width:650px) {
  .contact {
    .contact-title {
      margin: 2rem 5vw 1rem;
    }
    iframe {
      height: 300px;
      padding: 0;
    }
  }
}